.w50{
	width: 50%;
}

.w20{
	width: 20%;
}

.flex{
<<<<<<< HEAD
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}
.flex-direction-row{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.flex-wrap-nowrap{
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
.justify-content-spacebetween{
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.align-item-center{
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.align-content-stretch{
	-ms-flex-line-pack: stretch;
=======
	display: flex;
}
.flex-direction-row{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.flex-wrap-nowrap{
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
.justify-content-spacebetween{
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.align-item-center{
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.align-content-stretch{
>>>>>>> c41fd306f53e62348be4cc218be77d43a749b8c7
	align-content: stretch;
}

.noInformation {
  padding: 20px;
  background-color: green;
  color: white;
  margin-bottom: 15px;
}