.w50{
	width: 50%;
}

.w20{
	width: 20%;
}

.flex{
	display: flex;
}
.flex-direction-row{
	flex-direction: row;
}
.flex-wrap-nowrap{
	flex-wrap: nowrap;
}
.justify-content-spacebetween{
	justify-content: space-between;
}
.align-item-center{
	align-items: center;
}
.align-content-stretch{
	align-content: stretch;
}

.noInformation {
  padding: 20px;
  background-color: green;
  color: white;
  margin-bottom: 15px;
}