
/* DESKTOP */
@media only screen and (max-width: 1200px) {

    .active.boxed {
        max-width: 100%;
    }

    .wrapper {
        max-width: 97%;
    }

}

/* DESKTOP */
@media only screen and (max-width: 1150px) {

    .op-jumplist {
        display: none;
    }

    .main-menu-placeholder {
        height: auto!important;
    }

    .ot-menu-will-follow .main-menu-placeholder.is-now-following .main-menu-wrapper {
        position: static;
        left: auto;
        top: auto;
        margin-left: 0px;
        width: auto;
        max-width: auto;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .header .main-menu .main-menu-placeholder .top-main-menu > li > a,
    .header .main-menu .main-menu-placeholder .top-main-menu ul:not(.ot-mega-menu) li a {
        padding: 12px 19px;
    }

    .header .main-menu .main-menu-placeholder .top-bottom-menu li a {
        padding: 10px 19px;
    }

    .header .main-menu-placeholder .menu-search-thing button {
        height: 42px;
        font-size: 14px;
    }

    .popular-articles-middle .top-slider-controls {
        background: rgba(255,255,255,0.5);
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer .footer-copyright ul li a,
    .footer p {
        font-size: 13px;
    }

    .full-width-articles > .item .item-content h3 {
        font-size: 23px;
    }



    .content-panel .content-panel-body.split-article-slide .top-slider-content {
        padding-bottom: 0px;
    }

    .top-menu li a {
        padding: 11px 15px;
    }

}



/* TABLET */
@media only screen and (max-width: 1050px) {

    /* common
    --------------------------------*/
    body {
        font-size: 1.6rem;
    }
    .wrapper {
        max-width: 95%;
    }
    .read-more .btn-more {
        height: 46px;
        line-height: 46px;
    }
    .read-more .btn-more i.fas {
        line-height: 46px;
    }


/*不明*/
/*
    body, div, p, a, table, td {

    -webkit-text-size-adjust: none;
    letter-spacing: .015em;

}

    .demo-settings {
    display: none!important;
}

    .content .content-block .content-panel-title h2 {
    font-size: 27px;
}
    .ot-breaking-news-body .ot-breaking-news-content {
    padding: 12px 20px;
}
    .full-width-articles > .item .item-content p,
    .photo-gallery-blocks > .item .item-content p,
    .split-article-slide-right > .item .item-content p,
    .content-panel-body.article-list > .item .item-content p,
    body, p {
        font-size: 14px;
    }

    .read-more-button {
        font-size: 12px;
    }

    .header .main-menu .main-menu-placeholder .top-main-menu > li > a, .header .main-menu .main-menu-placeholder .top-main-menu ul:not(.ot-mega-menu) li a {
        padding: 12px 13px;
    }

    .header .main-menu .main-menu-placeholder .top-bottom-menu li a {
        padding: 10px 13px;
    }

    .item .item-article .item-content h3,
    .photo-gallery-blocks > .item .item-content h3,
    .full-width-articles > .item .item-content h3,
    .split-article-slide-right > .item .item-content h3,
    .content-panel-body.article-list > .item .item-content h3 {
        font-size: 19px;
    }

    .content-panel-body.article-list .popular-articles-middle .content-panel-title h2 {
        font-size: 23px;
    }

    .content .content-block .content-panel-title > a {
        font-size: 13px;
    }

    .item .item-article .item-header a, .photo-gallery-blocks > .item .item-header a, .full-width-articles > .item .item-header a, .split-article-slide-right > .item .item-header a, .content-panel-body.article-list > .item .item-header a,
    .top-slider-content-wrap .item .item-header a {
        background-color: transparent!important;
    }
*/


    /* content
    --------------------------------*/
    .content .content-block .content-block-single {
        float: none;
        width: 100%;
        margin-bottom: 50px;
    }
    .content .content-block .content-panel {
        margin-bottom: 35px;
    }
    .content .content-block .content-panel-title {
        padding-left: 18px;
        margin-bottom: 24px;
    }
    .content .content-block .content-panel-title .panel-title-submenu {
        display: none;
    }
    .content-panel.carousel-type .content-panel-body .panel-items .item .item-image {
        margin-bottom: 15px;
    }

    /* read-more */
    .read-more.top-index {
        display: block;
        margin: 25px 0 50px;
    }

    /* login-Page */
    .content .content-block .content-panel.access-panel {
        margin: 85px 0 175px;
    }


    /* sidebar
    --------------------------------*/
    .sidebar {
        float: none;
        width: 100%;
    }
    .sidebar .widget-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .sidebar .widget {
        width: 48%;
    }
    .sidebar .widget:not(.widget-info) .widget-title {
        font-size: 2.0rem;
    }
    .sidebar .widget .widget-article-lists .item .item-lead .item-title {
        font-size: 1.6rem;
        margin-bottom: 8px;
        -webkit-line-clamp: 3;
    }

    .sidebar .widget.widget-info .widget-title {
        font-size: 2.0rem;
    }
    .sidebar .widget.widget-info .widget-article-lists .item {
        font-size: 2.0rem;
    }
    .sidebar .widget.widget-info .widget-article-lists .item.info-phone,
    .sidebar .widget.widget-info .widget-article-lists .item.info-mail {
        background-position: left 50px top 50%;
    }
    .sidebar .widget.widget-info .widget-article-lists .item.info-phone {
        background-size: 13%;
    }
    .sidebar .widget.widget-info .widget-article-lists .item.info-mail {
        background-size: 12%;
    }

    .sidebar .widget .widget-article-lists .item .item-image img {
        height: 85px;
    }
    .sidebar .widget.widget-ranking .widget-article-lists .item .item-image .item-counter {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 1.4rem;
    }

    /* infomation */
    .header .no-information .btn-noinfo a {
        height: 44px;
        line-height: 44px;
    }

    /* popup_menu */
    .popup_menu {
        display: block;
    }





    .widget .widget-photo-gallery .item {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 250px;
    }

    .footer .footer-widgets {
        display: block;
    }

    .footer .footer-widgets:after {
        display: block;
        clear: both;
        content: '';
    }

    .footer .footer-widgets .widget-split {
        display: block;
        float: left;
        width: 49%;
        margin-left: 2%;
    }

    .footer .footer-widgets .widget-split:nth-child(2n+1) {
        margin-left: 0px;
        clear: both;
    }

    .footer .footer-menu a {
        padding: 16px 15px;
        font-size: 12px;
    }

    .header .menu-search-thing,
    .load-responsive {
        display: none!important;
    }


    .header .top-menu {
        display: none;
    }
    .header .header-logo .logo {
        margin: 0 auto;
    }
    .header .global-nav {
        display: none;
    }
    .visible-xs {
        display: block !important;
    }

    .dat-menu-button {
        display: block;
    }

    .footer .footer-menu {
        display: block;
        text-align: center;
    }

    .footer .footer-menu .right {
        display: block;
        float: none;
    }

    .footer .footer-menu > .wrapper > ul {
        display: none!important;
    }



}


/* PHONE */
@media only screen and (max-width: 767px) {

    /* common
    ------------------------------*/
    body {
        font-size: 1.6rem;
    }
    p {
        font-size: 1.6rem;
    }
    .wrapper {
        max-width: 90%;
    }
    .header {
        margin-bottom: 0;
    }
    .header .header-logo {
        padding: 23px 0 30px;
    }
    .header .header-logo .logo {
        width: 145px;
        height:auto;
    }

    /*
    .pagination .page-numbers {
    font-size: 10px;
}
    */



    /* main-slider
    ------------------------------*/
    .boxed.slider-sec {
        margin-bottom: 60px;
        background-color: #000;
    }
    .boxed.slider-sec .main-slider-slick-list,
    .main-slider .slick-list .item,
    .main-slider .slick-list .item .item-image {
        height: 265px;
    }
    .main-slider .slick-arrow.slick-prev {
        left: -5px;
    }
    .main-slider .slick-arrow.slick-next {
        right: -5px;
    }
    .main-slider .slick-list .item .item-lead {
        width: 100%;
        margin: 0;
        padding: 0 40px 0 65px;
    }
    .main-slider .slick-list .item .item-lead .item-date {
        font-size: 1.2rem;
        line-height: 20px;
        margin-bottom: 15px;
        border-radius: 10px;
    }
    .main-slider .slick-list .item .item-lead .item-title {
        font-size: 1.8rem;
        margin-bottom: 15px;
    }
    .main-slider .slick-list .item .item-lead .item-desc {
        margin-bottom: 5px;
        -webkit-line-clamp: 2;
    }


    /* content
    -------------------------------*/
    .content .content-block .content-block-single {
        margin-bottom: 60px;
    }
    .content .content-block .content-panel {
        margin-bottom: 25px;
    }
    .content .content-block .content-panel-title .panel-title {
        font-size: 2.0rem;
    }

    /* panel-body */
    .content-panel.carousel-type .content-panel-body .panel-items .item {
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
        border: none;
    }

    /* carousel-type */
    .content-panel.carousel-type .content-panel-body .panel-items .item:first-child,
    .content-panel.carousel-type .content-panel-body .panel-items .item:nth-of-type(4) {
        border: none;
    }

    /* carousel-type, block-type */
    .content-panel.carousel-type .content-panel-body .panel-items .item .item-image,
    .content-panel.block-type .content-panel-body .panel-items .item .item-image {
        height: 185px;
        margin-bottom: 15px;
    }

    /* block-type */
    .content-panel.block-type .content-panel-body .panel-items .item {
        margin-bottom: 30px;
    }
    .content-panel.block-type .content-panel-body .panel-items .item a {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .content-panel.block-type .content-panel-body .panel-items .item .item-lead {
        position: relative;
        padding-top: 26px;
    }
    .content-panel.block-type .content-panel-body .panel-items .item .item-lead .item-title {
        font-size: 1.6rem;
        margin-bottom: 0;
    }
    .content-panel.block-type .content-panel-body .panel-items .item .item-lead .item-desc {
        display: none;
    }
    .content-panel.block-type .content-panel-body .panel-items .item .item-lead .comment-tag {
        position: absolute;
        top: 0;
        right: 0;
    }
    .content-panel.block-type .content-panel-body .panel-items .item .item-lead .item-date {
        font-size: 1.2rem;
    }
    .content-panel.block-type .content-panel-body .panel-items .item .item-lead .comment-date {
        margin-bottom: 0;
    }

    /* read-more */
    .read-more {
        margin: 50px 0;
    }
    .read-more .btn-more {
        display: block;
    }
    .read-more.top-index {
        margin: 10px 0 65px;
    }

    /* serach-page
    --------------------------------*/
    .content-panel.block-type .content-panel-body .panel-items .item .category-button {
        top: 200px;
        right: 0;
        left: 0;
    }

    /* PostPage styling
    --------------------------------*/
    .content .content-block .content-panel.post-content {
        margin-bottom: 50px;
    }
    .post-header .post-title {
        font-size: 2.0rem;
    }
    .post-header .post-date {
        font-size: 1.4rem;
    }
    .post-header .post-header-meta .post-share {
        font-size: 1.2rem;
    }

    .post-body img {
        margin-bottom: 0;
    }
    .post-body .desc {
        font-size: 1.6rem;
        font-weight: normal;
    }
    .post-body h2 {
        font-size: 1.8rem;
        padding-left: 18px;
        margin: 50px 0 20px;
    }
    .post-body h3 {
        font-size: 1.8rem;
    }
    .post-body h4 {
        font-size: 1.8rem;
    }
    .post-body ul {
        margin-left: 30px;
    }
    .post-body table {
        font-size: 1.4rem;
    }
    .post-body .date-table caption {
        font-size: 1.8rem;
        margin-bottom: 3px;
    }


    /* 404 notfound
    -----------------------------------------*/
    .big-message {
        padding: 100px 0 20px;
    }
    .big-message .big-message-heading {
        text-align: center;
    }
    .big-message .big-message-heading .big-message-title {
        font-size: 4.4rem;
        padding: 0;
        white-space: nowrap;
    }
    .big-message .big-message-heading i.far {
        position: static;
        display: block;
        margin-bottom: 20px;
    }
    .big-message .big-message-content .sub-title {
        font-size: 1.8rem;
    }

    /* notfound content
    -----------------------------------------*/
    .not-found-content-page .big-message .big-message-heading .big-message-title {
        font-size: 2.6rem;
    }





    /* Profile-Page */
    .form-vertical {
        margin-top: 30px;
    }
    .form-vertical .form-group {
        display: block;
        margin-bottom: 20px;
    }
    .form-vertical .form-group .control-label {
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }
    .form-vertical .form-group.detail-textarea .control-label,
    .form-vertical .form-group.detail-photo .control-label {
        margin-top: 0;
    }
    .form-vertical .form-submit {
        margin: 35px 0 25px;
    }
    .form-vertical .form-submit .form-button {
        width: 100%;
        padding: 14px 25px;
    }
    .form-vertical .form-submit .form-button.button-red {
        margin: 0 0 20px;
    }




    /* access-panel */
    .content .content-block .content-panel.access-panel {
        margin: 20px 0;
    }
    .access-panel .login-form,
    .access-panel .register-form {
        padding: 30px 30px 35px;
    }
    .access-panel .panel-title {
        font-size: 2.8rem;
        padding-bottom: 15px;
        margin-bottom: 25px;
    }
    .access-panel .form-vertical .form-group .control-label {
        font-size: 1.4rem;
    }
    .login-form .form-vertical .form-submit {
        margin-top: 30px;
    }
    .login-form .form-vertical .password-message {
        font-size: 1.4rem;
        margin-bottom: 30px;
    }
    .login-form .form-vertical .form-submit .button-red {
        margin: 0 0 15px;
    }








    /* sidebar
    --------------------------------*/
    .sidebar .widget-wrap {
        display: block;
    }
    .sidebar .widget {
        width: 100%;
    }
    .sidebar .widget:not(.widget-info) .widget-title {
        font-size: 1.8rem;
    }
    .sidebar .widget.widget-info .widget-article-lists .item.info-phone,
    .sidebar .widget.widget-info .widget-article-lists .item.info-mail {
        background-position: left 30px top 50%;
    }
    .sidebar .widget.widget-info .widget-article-lists .item.info-phone {
        background-size: 15%;
    }
    .sidebar .widget.widget-info .widget-article-lists .item.info-mail {
        background-size: 13%;
    }
    .sidebar .widget.widget-ranking .widget-article-lists .item .item-image .item-counter {
        width: 26px;
        height: 26px;
        line-height: 26px;
    }


    /* footer
    --------------------------------*/
    .footer .footer-contents {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 50px 20px 35px;
    }
    .footer .footer-contents .company-message {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-bottom: 35px;
    }
    .footer .footer-contents .company-info {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 35px;
    }
    .footer .footer-contents .footer-copyright {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        -ms-flex-item-align: center;
        align-self: center;
        margin: 0;
    }


    /* back_top
    --------------------------------*/
    .back_top {
        right: 20px;
    }







/*
    .h1, h1 {
        font-size: 30px;
    }

    .h2, h2 {
        font-size: 26px;
    }

    .h3, h3 {
        font-size: 20px;
    }

    .h4, h4 {
        font-size: 16px;
    }

    .h5, h5 {
        font-size: 14px;
    }

    .h6, h6 {
        font-size: 12px;
    }
*/

    .shortcode-content .short-tabs > ul li a {
        padding: 15px 13px;
        font-size: 12px;
    }

    .shortcode-content .accordion > div > a {
        font-size: 13px;
    }



    .review-red > .column10,
    .review-green > .column10 {
        border-left: 0px;
    }

    .review-green > .column10 {
        margin-bottom: 30px;
    }



    .article-main-share .share-front,
    .article-main-share .article-main-share-button {
        margin-bottom: 10px;
    }

    .article-main-next-prev a {
        display: block;
        margin-bottom: 20px;
    }

    .about-author-block .column2 {
        display: none;
    }

    .archive-blocks .item,
    .photo-gallery-blocks .item {
        width: 48%;
        margin-left: 4%;
    }

    .archive-blocks .item:nth-child(2n+1),
    .photo-gallery-blocks .item:nth-child(2n+1) {
        margin-left: 0px;
        clear: both;
    }

    .archive-blocks .item:nth-child(n+3),
    .photo-gallery-blocks .item:nth-child(n+3) {
        margin-top: 30px;
    }

    .photo-gallery-blocks > .item .item-content h3, .full-width-articles > .item .item-content h3 {
        font-size: 17px;
    }



}


/* Phone */
@media only screen and (max-width: 767px) {
    div[data-wzb="SocialMobileTool"] .ztb-smt-right {
        bottom: 100px !important;
    }
}


/* PHONE */
/*
@media only screen and (max-width: 600px) {

.wrapper {
max-width: 90%;
}

.archive-blocks .item,
.photo-gallery-blocks .item {
width: 100%;
margin-left: 0px;
float: none;
clear: both;
margin-bottom: 20px;
margin-top: 0px;
}

.article-header h2 {
font-size: 21px;
}




.article-main-review-block .main-review-footer strong.review-count {
font-size: 50px;
}

.article-main-review-block .main-review-footer .item-stars {
font-size: 18px;
}



.about-author-block .author-socials {
float: none;
margin-bottom: 15px;
}

.about-author-block .read-more-button {
font-size: 11px;
}

.about-author-block h3 {
font-size: 17px;
}


.ot-photo-gallery-shortcode .gallery-shortcode-text h4 {
font-size: 18px;
}

.ot-photo-gallery-shortcode .gallery-shortcode-text p {
font-size: 13px;
}

.ot-photo-gallery-shortcode .gallery-shortcode-thumbs a.no-image strong {
margin-top: -10px;
font-size: 13px;
}

.shortcode-content blockquote.blockquote-style-2 p {
font-size: 14px;
}

.ot-photo-gallery-shortcode .gallery-shortcode-thumbs a.no-image strong span {
display: none;
}

.shortcode-content .short-tabs > ul li a {
font-size: 0;
line-height: 10px;
line-height: 10px;
}

.shortcode-content .button {
font-size: 12px;
padding: 9px 15px;
}

.shortcode-content .short-tabs > ul li {
counter-increment: section;
}

.short-tabs > ul li a:before {
font-size: 14px;
content: counter(section);
}

.pagination .page-numbers.prev,
.pagination .page-numbers.next,
.demo-settings {
display: none!important;
}

.pagination .page-numbers {
font-size: 10px;
}

.sidebar .widget.widget-tabbed > h3 span, .sidebar .widget > h3 {
font-size: 13px;
padding: 16px 13px;
}

.footer-copyright p {
display: block;
padding-left: 10px;
padding-right: 10px;
text-align: center;
}

.item .item-article .item-content h3, .photo-gallery-blocks > .item .item-content h3, .full-width-articles > .item .item-content h3, .split-article-slide-right > .item .item-content h3, .content-panel-body.article-list > .item .item-content h3 {
font-size: 17px;
}

.content-panel .content-panel-body.split-article-slide .split-article-slide-right,
.content-panel .content-panel-body.split-article-slide .split-article-slide-left,
.footer .footer-widgets .widget-split {
display: block;
float: none;
width: 100%;
margin-right: 0px;
margin-left: 0px;
clear: both;
}

.content-panel .content-panel-body.split-article-slide .split-article-slide-left {
margin-bottom: 65px;
}

.content .content-block .content-panel-title h2 {
font-size: 19px;
}

.content .content-block .content-panel-title > a {
display: none;
}

.top-slider-content-wrap .item,
.content-panel-body.article-list > .item .item-header {
display: block;
clear: both;
width: 100%;
float: none;
margin-bottom: 15px;
margin-left: 0px!important;
}

.footer .footer-widgets .widget-split {
padding-right: 0px;
padding-left: 0px;
}

.top-slider-content-wrap .item:last-child {
margin-bottom: 0px;
}

.content-panel-body.article-list > .item .item-content {
display: block;
clear: both;
width: 100%;
float: none;
margin-left: 0px;
}

.comment-list > ol > li li .comment-block {
margin-left: 0px;
}

.read-more-button.reply-button {
font-size: 11px;
}

.comment-block .image-avatar {
display: none;
}

.comment-block .comment-text {
margin-left: 0px;
}

.comment-form {
width: 100%;
}

.article-main-next-prev a i.fa {
display: none;
}

.article-main-next-prev a.article-nav-next strong, .article-main-next-prev a.article-nav-next span,
.article-main-next-prev a strong, .article-main-next-prev a span {
margin-left: 0px;
margin-right: 0px;
}

.comment-block .comment-text .time-stamp {
float: none;
padding-top: 0px;
padding-bottom: 8px;
}

}
*/
